.slide-text{
    background-color:
                         #6ba6ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 ul, li{
    list-style: none;
 }

 .ul-titulos{
    width: 100%;
    height: 50px;
    position: relative;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
 }

 .ul-subtitulos{
    width: 100%;
    height: 40px;
    position: relative;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
 }

 .li-titulos{
    position: absolute;
    top: 200%;
    height: 50px;
    line-height: 50px;
 }

 .li-subtitulos{
    position: absolute;
    top: 200%;
    height: 40px;
    line-height: 40px;
 }

 .li-titulos:first-child{
    top: 100%;
 }

 .li-titulos:last-child{
    top: 300%;
 }

 .li-subtitulos:first-child{
    top: 100%;
 }

 .li-subtitulos:last-child{
    top: 300%;
 }

 @keyframes slide{
    0%{
        transform: translateY(0);
    }
    15%, 30%{
        transform: translateY(-100%);
    }
    45%, 60%{
        transform: translateY(-200%);
    }
    75%, 90%{
        transform: translateY(-300%);
    }
    100%{
        transform: translateY(-400%);
    }
 }
 
 