@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #667eea;
    --color-secundary: #764ba2;
    --boton-padding: 20px 40px;
}

body{
    font-family: 'Raleway', sans-serif;
}


.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.subtitulo{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;
}

.top{
    height: 100vh;
    background-image: var(--background), url(../assets/pexels-zaksheuskaya-1546249.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.top .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items{
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    border: 1px solid #ffffff;
}

.nav__items--footer{
    padding: 10px;
}

.top__container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color: #fff;
}

.top__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

.top__textos{
    width: 80%;
    margin-bottom: 50px;
}

.top__titulo{
    font-size: 3.2rem;
}

.top__subtitulo{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.top__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
}

/*Seccion 2 */

.presentacion{
    padding-top: 0%;
    text-align: center;
}

.presentacion__logo{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
    object-fit: cover;
}

.presentacion__txt{
    width: 80%;
    margin: 0 auto;
}

.presentacion__ctn{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.acerca{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.acerca__img{
    text-align: center;
}

.acerca__img--left{
    text-align: left;
}

.acerca__foto{
    max-width: 80%;
}

.acerca__parrafo{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

/* Seccion 3 (Obras) */

.obras{
    background: #d4d9f3;
}

.obras__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3" 
    "img1 img1 img4 img5";
    gap: 10px;
}

.obras__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.obras__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.obras__item:nth-of-type(1){
    grid-area: img1;
}

.obras__item:nth-of-type(2){
    grid-area: img2;
}

.obras__item:nth-of-type(3){
    grid-area: img3;
}

.obras__item:nth-of-type(4){
    grid-area: img4;
}

.obras__item:nth-of-type(5){
    grid-area: img5;
}

.obras__hover{
    position: absolute;
    background: #2f00ff8c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.obras__item:hover .obras__hover{
    transform: translateX(0%);
}

.obras__icon{
    margin-top: 10px;
    font-size: 30px;
}

